{% extends 'cardgame/base.html' %}
{% block content %}
<div class="d-flex flex-column align-items-center text-center bg-dark" id="create-con">
  <form action="{% url 'cardgame:create' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p class="text-light m-4">
      내가 고른 카드 :
      <select id="cardnum" name="cardnum">
        <option name="cardnum" selected>카드선택</option>
        {% for card_num in card_nums %}
        <option name="cardnum">{{ card_num }}</option>
        {% endfor %}
        <!-- { for cardnum in cardnums }
            <option value="{{ cardnum.id }}" name="cardnum">{{ cardnum }}</option>
        { endfor } -->
      </select>
    </p>
    <p class="text-light m-4">
      공격할 상대는?
      <select id="player" name="player">
        <option name="player" selected>공격상대선택</option>
        {% for vs_user in vs_users %}
        <option name="player">{{ vs_user }}</option>
        {% endfor %}
        
        <!-- { for cardnum in cardnums }
            <option value="{{ cardnum.id }}" name="cardnum">{{ cardnum }}</option>
          { endfor } -->
      </select>
    </p>
    <div>
      <input type="submit" class="btn main-color btn-piro px-5" value="공격하기!"/>
    </div>
    {% if alert_text %}
      <p class="text-light m-4">두 값 모두 정확하게 입력해주세요!</p>
    {% endif %}
  </form>
</div>
{% endblock %}
