{% extends 'cardgame/base.html' %}

{% block content %}
  <div id="list-con" class="wrap bg-dark">
    <h4 class="text-light pt-4"><b>게임 전적</b></h4>
    <small class="text-secondary">현재 플레이어의 게임 전적을 보여주는 페이지입니다.
    <br />진행 중인 게임은 취소할 수 있어요! 물론 자신이 공격한(=도전장을 내면) 게임만 해당되겠죠? 졸리네요...</small>
    <p class="text-light" id="list-title"><b>현재 플레이어: {{ user }}</b></p>
    <hr class="main-color">
    <div class="container" id="list-pcon">
      {% for game in games %}
        <div class="row py-2">
          <div class="col-5">
            <p class="text-light"><span class="main-color">{{game.pk}}</span>{{game.sender}}<span class="main-color">VS</span> {{game.receiver}}</p>
          </div>
          <div class="col-4">
            {% if game.receiver_card_num %}
              {% if game.winner %}
                {% if user == game.winner %}
                <p class="text-light">결과: 승리</p>
                {% else %}
                <p class="text-light">결과: 패배</p>
                {% endif %}
              {% else %}
                <p class="text-light">결과: 무승부</p>
              {% endif %}
            {% else %}
              {% if user == game.receiver %}
                <a href="{% url 'cardgame:update' game.pk %}" class="btn main-color btn-piro p-1">반격하기</a>
              {% else %}
                <span class="text-light">진행중... </span><a href="{% url 'cardgame:delete' game.pk %}" class="btn main-color btn-piro p-1">게임취소</a>
              {% endif %}
            {% endif %}
          </div>
          <div class="col-3">
            <a href="{% url 'cardgame:detail' game.pk %}" class="btn main-color btn-piro p-1">게임정보</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}