{% extends 'cardgame/base.html' %} {% block content %}
<div
  class="d-flex flex-column align-items-center text-center bg-dark"
  id="receive-con"
>
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h5 class="text-light m-5"><b>{{ game.sender }}에게 반격하세요!</b></h5>
    <p class="text-light m-4">
      내가 고른 카드 :
      <select id="cardnum" name="cardnum">
        <option name="cardnum" selected>카드선택</option>
        {% for card_num in card_nums %}
        <option name="cardnum">{{ card_num }}</option>
        {% endfor %}
        <!-- { for cardnum in cardnums }
            <option value="{{ cardnum.id }}" name="cardnum">{{ cardnum }}</option>
        { endfor } -->
      </select>
    </p>
    <div>
      <input
        type="submit"
        class="btn main-color btn-piro px-5"
        value="반격하기!"
      />
    </div>
    {% if alert_text %}
      <p class="text-light m-4">카드를 정확하게 골라주세요!</p>
    {% endif %}
  </form>
</div>
{% endblock %}
