{% extends 'cardgame/base.html' %}

{% block content %}
  <div class="d-flex flex-column align-items-center bg-dark" id="main-con">
    <i class="fa-regular fa-lightbulb fa-3x main-color"></i>
    <div class="p-4 text-center">
      <h2 class="text-light"><b>전 세계 피로그래머와</b></h2>
      <h2 class="text-light"><b>한 판 승부 숫자카드게임</b></h2>
    </div>
    {% if user.is_authenticated %}
      <small class="mb-0 text-light">{{user.username}} 님이 로그인 중</small>
    {% endif %}
    <a href="" class="btn main-color btn-piro m-1"><h4 class="my-0 mx-2"><b>게임하기</b></h4></a>
    <a href="" class="btn main-color btn-piro m-1"><h4 class="my-0 mx-2"><b>전적보기</b></h4></a>
  </div>
{% endblock %}